In [2]:
import pandas as pd 
import numpy as np 
import matplotlib as mpl

In [3]:
from market_data import MarketDataYFinance

In [9]:
tsla = MarketDataYFinance('TSLA', '2010/01/01', '2023/01/01')

In [11]:
tsla_prccd = tsla.price_df()

[*********************100%%**********************]  1 of 1 completed

In [12]:
tsla_prccd.head()

,Open,High,Low,Close,Adj Close,Volume,1D_Return,1D_Log_Return,Cum_Return,Ann_Vol
Date,,,,,,,,,,
2010-06-29,1.266667,1.666667,1.169333,1.592667,1.592667,281494500,NaN,NaN,NaN,NaN
2010-06-30,1.719333,2.028000,1.553333,1.588667,1.588667,257806500,-0.002511,-0.002515,0.997489,NaN
2010-07-01,1.666667,1.728000,1.351333,1.464000,1.464000,123282000,-0.078473,-0.081723,0.919213,NaN
2010-07-02,1.533333,1.540000,1.247333,1.280000,1.280000,77097000,-0.125683,-0.134312,0.803683,NaN
2010-07-06,1.333333,1.333333,1.055333,1.074000,1.074000,103003500,-0.160937,-0.175470,0.674341,NaN

In [13]:
tsla_prccd.describe()

,Open,High,Low,Close,Adj Close,Volume,1D_Return,1D_Log_Return,Cum_Return,Ann_Vol
count,3150.000000,3150.000000,3150.000000,3150.000000,3150.000000,3.150000e+03,3149.000000,3149.000000,3149.000000,2898.000000
mean,58.860577,60.176703,57.402961,58.807496,58.807496,9.359654e+07,0.002026,0.001381,36.935320,0.541831
std,95.658595,97.854579,93.175266,95.526397,95.526397,8.169856e+07,0.035990,0.035864,59.984997,0.135264
min,1.076000,1.108667,0.998667,1.053333,1.053333,1.777500e+06,-0.210628,-0.236518,0.661364,0.316833
25%,8.976167,9.117500,8.765667,8.957666,8.957666,4.234658e+07,-0.015602,-0.015725,5.634993,0.421234
50%,16.229000,16.491000,15.945000,16.222334,16.222334,7.596600e+07,0.001173,0.001172,10.192129,0.549492
75%,24.622500,25.086666,24.158668,24.448000,24.448000,1.172978e+08,0.019242,0.019060,15.352027,0.602228
max,411.470001,414.496674,405.666656,409.970001,409.970001,9.140820e+08,0.243951,0.218292,257.411000,0.904572